---
import { Icon } from "astro-icon";
import ContentSection from "~/components/content-section.astro";
---

<ContentSection title="JoinTravel" id="intro">
  <Icon slot="eyebrow" name="logomark" class="h-32" />
  <Fragment slot="lead">
    Encuentra las 
    <span class="text-primary">mejores</span>
    recomendaciones para tu
    proximo
    <span class="text-primary">destino</span>
  </Fragment>
</ContentSection>
